@page
@model TournamentAdministration.Pages.Players.CreateModel
@{
    ViewData["Title"] = "Add Players";
}

<div class="text-center">
    <h1 class="display-4">Manage Players</h1>
</div>
<div class="text-left">
    <form method="post">
        <h2>Player Info</h2>
        <input type="text" placeholder="First Name" asp-for="Player.FirstName" />
        <input type="text" placeholder="Last Name" asp-for="Player.LastName" />
        <input type="text" placeholder="Gaming Handle / Nickname" asp-for="Player.GameHandle" />
        <input type="text" placeholder="Country" asp-for="Player.CountryOfOrigin" />
        <input type="text" placeholder="Hometown" asp-for="Player.HomeTown" />
        <button type="submit">Add Player</button>
    </form>

    <h2>Players</h2>
    <label asp-for="Player.ID">
        @foreach (var player in Model.Players)
        {
            <input type="checkbox">
            <label value=@player.ID>

                @player.FirstName @player.LastName (@player.GameHandle) -
                @player.CountryOfOrigin (@player.HomeTown):
                <a asp-page="/Players/Create" onclick="return confirm
                    ('Are you sure you want to delete this player?');"
                   asp-page-handler="Delete" asp-route-id="@player.ID">Delete</a> -
                <a asp-page="/Players/Edit" asp-route-id="@player.ID"> Edit</a>

            </label>
            <br>
        }
    </label>

    @if (ViewData["Message"] != null)
    {
        <script>
                    alert("@ViewData["Message"]")
        </script>
    }
</div>