@page
@model TournamentAdministration.Pages.Tournaments.AllTournamentsModel
@{
    ViewData["Title"] = "All Tournaments";
}

<div class="text-center">
    <h1 class="display-4">All Tournaments</h1>
    <h2>Filters</h2>
    <form method="post">
        <h2>Tournament Name</h2>
        <input type="text" placeholder="Tournament name" asp-for="TournamentName" />

        <h2>Venue Name</h2>
        <input type="text" placeholder="Venue name" asp-for="VenueName" />

        <h2>Admin</h2>
        <select asp-for="Admin">
            <option value=""></option>
            @foreach (var user in Model.Users)
            {
                <option value=@user.Id>@user.Email</option>
            }
        </select>

        <button type="submit">Find</button>
    </form>    
</div>

<ul>
    @foreach (var tournament in Model.Tournaments)
    {
        <li>
            <h3>@tournament.TournamentName</h3>
            <h6>Game: @tournament.Game.Title</h6>
            <p>@tournament.Description</p>
            <h6>Date: @tournament.EventTime.ToString("yyyy-MM-dd")</h6>
            <h6>Venue: @tournament.Venue.VenueName</h6>
            <p></p>
        </li>
    }
</ul>