@page
@model TournamentAdministration.Pages.Tournaments.AllTournamentsModel
@{
    ViewData["Title"] = "All Tournaments";
}

<div class="text-center">
    <h1 class="display-4">All Tournaments</h1>
    <h2>Filters</h2>
    <form method="post">
        <h2>Tournament Name</h2>
        <input type="text" placeholder="Tournament name" asp-for="TournamentName" />

        <h2>Venue Name</h2>
        <input type="text" placeholder="Venue name" asp-for="VenueName" />

        <h2>Start Date</h2>
        <input type="Date" value="" asp-for="StartDate" />

        <h2>End Date</h2>
        <input type="Date" value="" asp-for="EndDate" />

        <h2>Game</h2>
        <input type="text" value="" asp-for="Game" />

        @*<h2>Search for tournaments within ... km from your location</h2>
        <input type="number" value="" asp-for="Distance" />*@

        <h2>Admin</h2>
        <select asp-for="Admin">
            <option value=""></option>
            @foreach (var user in Model.Users)
            {
                <option value=@user.Id>@user.Email</option>
            }
        </select>
        <p></p>
        <br />
        <button type="submit">Find</button>
    </form>    
</div>

<div class="user-tournaments-list">
    <div class="grid">
        @foreach (var tournament in Model.Tournaments)
        {
            <ul>
                <li>
                    <h3>@tournament.TournamentName</h3>
                    <h4>Game: @tournament.Game.Title</h4>
                    <p>Description: @tournament.Description</p>
                    <h4>Date: @tournament.EventTime.ToString("yyyy-MM-dd")</h4>
                    <h4>Venue: @tournament.Venue.VenueName</h4>
                </li>
            </ul>
        }
    </div>
</div>
