@page
@model TournamentAdministration.Pages.Tournaments.EditModel

<div class="text-center">
    <h1 class="display-4">Edit Tournament</h1>
</div>
<div class="text-left">
    <form method="post">

        <h2>Venue</h2>
        <select asp-for="Venue.ID">
            <option value="@Model.Tournament.Venue.ID">@Model.Tournament.Venue.VenueName</option>
            @foreach (var venue in Model.Venues.OrderBy(v => v.VenueName))
            {
                <option value=@venue.ID>@venue.VenueName</option>
            }
        </select>
        <p>Not in list? - <a asp-page="/Venues/Create">Add Venue</a></p>

        <h2>Game</h2>
        <select asp-for="Game.ID">
            <option value="@Model.Tournament.Game.ID">@Model.Tournament.Game.Title</option>
            @foreach (var game in Model.Games.OrderBy(g => g.Title))
            {
                <option value=@game.ID>@game.Title</option>
            }
        </select>
        <p>Not in list? - <a asp-page="/Games/Create">Add Game</a></p>

        <h2>Game Description</h2>
        <input type="text" placeholder="Description" asp-for="Tournament.Description" />

        <p></p>

        <h2>Tournament Name</h2>
        <input type="text" placeholder="Name of your tournament" asp-for="Tournament.TournamentName" />

        <p></p>

        <h2>Date</h2>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="Tournament.EventTime" />
        <p></p>
        <button type="submit">Save Changes</button>

        @if (ViewData["Message"] != null)
        {
            <script type="text/javascript">
            alert("@ViewData["Message"]");
            </script>
        }

    </form>
</div>