@page
@model TournamentAdministration.Pages.Tournaments.PlayersModel
@{
}

<form method="post">
    <h2>Players</h2>
    <label asp-for="Player.ID">
        @foreach (var player in Model.Players)
        {
            <input type="checkbox">
            <label value=@player.ID>

                @player.FirstName @player.LastName (@player.GameHandle) -
                @player.CountryOfOrigin (@player.HomeTown)

            </label>
            <br>
        }
    </label>
    <br>
    <button type="submit">Add Selected Players to Tournament</button>
</form>