@page
@model TournamentAdministration.Pages.Tournaments.PlayersModel
@{
}

<h2>Players</h2>
<form method="post">
    <select asp-for="Player.ID">
        <option value="" disabled selected>Select player</option>
        @foreach (var player in Model.Players)
        {
            <option value=@player.ID>@player.FirstName @player.LastName (@player.GameHandle)</option>
        }
    </select>
    <button type="submit">Add player</button>
</form>
<br>
<h2>Current Participants</h2>
<ul id="player-list">
    @foreach (var player in Model.Participants)
     {
        <li>
            <input type="checkbox">
            <label value=@player.ID>

                @player.FirstName @player.LastName (@player.GameHandle) -
                @player.CountryOfOrigin (@player.HomeTown) -
                <a asp-page="/Tournaments/Players" onclick="return confirm
                        ('Are you sure you want to remove this player from the tournament?');"
                   asp-page-handler="Delete" asp-route-id="@player.ID" >Remove from tournament (not working)</a>

            </label>
            <br>
        </li>
     }
</ul>

<button>Remove from tournament (not working)</button>