@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <link rel="stylesheet" href="/css/user.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="management-links">
        <div class="create-div">
            <a asp-page="/Tournaments/Create"><img id="create" /></a>

            <h1><a asp-page="/Tournaments/Create">Create Tournament</a></h1>
        </div>

        <div class="manage-players-div">
            <a asp-page="/Players/Create"><img id="manage-players" /></a>
            <h1><a asp-page="/Players/Create">Manage Players</a></h1>
        </div>

        <div class="manage-venues-div">
            <a asp-page="/Venues/Create"><img id="manage-venues" /></a>
            <h1><a asp-page="/Venues/Create">Manage Venues</a></h1>
        </div>

        <div class="manage-games-div">
            <a asp-page="/Games/Create"><img id="manage-games" /></a>
            <h1><a asp-page="/Games/Create">Manage Games</a></h1>
        </div>

        <div class="view-tournament-div">
            <a asp-page="/Tournaments/AllTournaments"><img id="view-tournament" /></a>
            <h1><a asp-page="/Tournaments/AllTournaments">View All Tournaments</a></h1>
        </div>
    </div>
</div>

<p></p>

<div class="user-tournaments-list">
    <p></p>
    <div class="grid">

        @foreach (var tournament in Model.UserTournaments)
        {
            <ul>
                <li>
                    <h3>@tournament.TournamentName</h3>
                    <h4>@tournament.Game.Title</h4>
                    <div class="tournament-description">
                    <p>@tournament.Description</p>
                    </div>
                    <h4>Date: @tournament.EventTime.ToString("yyyy-MM-dd")</h4>
                    <h4>Venue: @tournament.Venue.VenueName</h4>
                    <p>@tournament.Venue.Address.Street</p>
                    <p>@tournament.Venue.Address.City (@tournament.Venue.Address.Country)</p>
                    <h5><a asp-page="/Tournaments/Edit" asp-route-id="@tournament.ID">Edit Tournament</a></h5>
                    <h5>
                        <a asp-page="/Tournaments/Create" onclick="return confirm
                    ('Are you sure you want to delete this tournament?');"
                           asp-page-handler="Delete" asp-route-id="@tournament.ID">Delete Tournament</a>
                    </h5>
                    <h5><a asp-page="/Tournaments/Players" asp-route-id="@tournament.ID">Add Players / View Participants</a></h5>
                    <p></p>
                </li>
            </ul>
        }
    </div>
</div>
